#gooey {
    height: 30vw;
    width: 30vw;
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(to top right, #f59e0b, #f5740a);
    /* background: linear-gradient(to top right,red,blue); */


    top: 43%;
    left: 30%;
    filter: blur(10px);
    animation-name: gooey;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;

}

@keyframes gooey {
    from {
        filter: blur(12px);
        transform: translate(10%, -10%) skew(0);
    }

    to {
        filter: blur(30px);
        transform: translate(-10%, 10%) skew(-12deg);
    }
}

@media (max-width:600px) {
    #gooey {
        height: 50vw;
        width: 50vw;
    }
}